.gradle
.settings
gradle
logs
saves
bin
build/classes
build/resources
build/sources
build/retromapping
build/tmp
build/taskLogs
build/libs/old_versions
.project
.classpath
/config
crash-reports
gradle-app.setting
gradlew
options.txt
ui
usercache.json
usernamecache.json
